.idea/.gitignore
.idea/discord.xml
.idea/misc.xml
.idea/modules.xml
.idea/Progetto-Open-Data-2023.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
